# Nom del projecte. Ha de coincidir amb els directoris germans:
# ../${PROJECT_NAME}-admin i ../${PROJECT_NAME}-api
PROJECT_NAME=projecte-x

# Ports publicats al host
APP_PORT=8000
API_PORT=8001
VITE_PORT=5173
DB_PORT=3306

# Credencials de la base de dades
DB_DATABASE=projecte_x
DB_USERNAME=projecte_x
DB_PASSWORD=secret
